/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
#body{
    font-size: 4em
}
#comment{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}